langchain 
openai 
python-docx
python-dotenv
tiktoken
pinecone-client
langchain_openai
langchain_community
rank_bm25
sentence-transformers
fastapi
uvicorn
databases 
aiopg
asyncpg
redis
prometheus-client
prometheus_fastapi_instrumentator
py-spy
